<div ng-cloak>
    <div class="text-center" ng-if="!(isEditRiskAssessment || isAddRiskAssessment)">
        <h1><strong>Risk Assessment</strong></h1>
    </div>
    <ng-include src="'common/contract-header/contract-header.tpl.html'" scope="" onload=""></ng-include>
    <div class="row" style="padding-top: 10px;padding-bottom: 10px" ng-if="!(isEditRiskAssessment || isAddRiskAssessment)">
        <div class="col-md-5 text-left">
		<!--contractpermission="['riskAsmtCreate']"-->
            <button type="button"  ng-click="showAddRiskAsmtPanel('addEditRiskAsmt')" class="btn btn-sm btn-primary" ng-disabled="disableAdd">Add New Risk Assessment</button>
        </div>
        <div class="col-md-3 text-left" style="padding-top:10px">
            <span><strong>Total No. of Records : {{totalItems}}</strong></span>
        </div>
        <div class="col-md-4 text-right" style="padding-top:10px">
            <label for="noOfRecordsPerPage">No. of records per page</label>&nbsp;
            <select id="noOfRecordsPerPage" ng-model="noOfRecordsPerPage" ng-init="noOfRecordsPerPage='5'" ng-change="setNoOfRecordsPage(noOfRecordsPerPage)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
    </div>
    <div id="riskAssessmentTable" ng-if="!(isEditRiskAssessment || isAddRiskAssessment)">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="btn-primary table-th-child" ng-click="orderByField='riskAssessmentId'; reverseSort = !reverseSort"><span ng-if="orderByField == 'riskAssessmentId' && !reverseSort" class="fa fa-caret-up"></span>
                        <span ng-if="orderByField == 'riskAssessmentId' && reverseSort" class="fa fa-caret-down"></span>Risk Assessment No.</th>
                    <th class="btn-primary table-th-child" ng-click="orderByField='riskAssessmentDate'; reverseSort = !reverseSort"><span ng-if="orderByField == 'riskAssessmentDate' && !reverseSort" class="fa fa-caret-up"></span>
                        <span ng-if="orderByField == 'riskAssessmentDate' && reverseSort" class="fa fa-caret-down"></span>Risk Assessment Date</th>
                    <th class="btn-primary" ng-click="orderByField='baselineRiskLevel'; reverseSort = !reverseSort"><span ng-if="orderByField == 'baselineRiskLevel' && !reverseSort" class="fa fa-caret-up"></span>
                        <span ng-if="orderByField == 'baselineRiskLevel' && reverseSort" class="fa fa-caret-down"></span> Baseline Risk Level</th>
                    <th class="btn-primary table-th-child" ng-click="orderByField='riskAssessmentTemplateVersion'; reverseSort = !reverseSort"><span ng-if="orderByField == 'riskAssessmentTemplateVersion' && !reverseSort" class="fa fa-caret-up"></span>
                        <span ng-if="orderByField == 'riskAssessmentTemplateVersion' && reverseSort" class="fa fa-caret-down"></span>Risk Assessment Template Version</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="riskAssessment in riskAssessments | orderObjectBy:orderByField:reverseSort track by $index">
                    <td class="table-td-alignment-center wordwrap"> <a aria-label="{{riskAssessment.riskAssessmentId}} editThisRow" id="link-1" href="" ng-click="editRiskAssessment(riskAssessment,'addEditRiskAsmt', $index)"> {{riskAssessment.riskAssessmentId}} </a> </td>
                    <td class="table-td-alignment-center wordwrap">{{riskAssessment.riskAssessmentDate | date:'MM/dd/yyyy'}}</td>
                    <td class="wordwrap">{{riskAssessment.baseLineRiskLevel()}}</td>
                    <td class="table-td-alignment-center wordwrap">{{riskAssessment.riskAssessmentTemplateVersion | number:1}}</td>
                </tr>
            </tbody>
            <tfoot ng-if="displayPagination">
                <tr>
                    <td class="text-center" colspan="4">
                        <uib-pagination class="pagination-sm" boundary-links="true" total-items="totalItems" ng-model="vm.currentPage" ng-change="retrievePaginatedRiskAssessments()" items-per-page="noOfRecordsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" force-ellipses="true" max-size=$root.maxSize></uib-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="noRecordsDisplay" style="padding-bottom:10px" class="text-center" ng-if="!isNoRecordsMessageDisabled">
        <strong class="error-wrapper">No records found.</strong>
    </div>
    <div id="errorMessageDisplay" class="text-center" style="padding-bottom:10px" ng-if="errorFromRestService">
        <strong class="error-wrapper">{{errorMsg}}</strong>
    </div>
    <div id="displayRecordSavedMsg" class="text-center" style="padding-bottom:10px" ng-if="displayRecordSavedMsg">
        <span><strong>Record Saved Successfully.</strong></span>
    </div>
    <div id="displayRecordDeletedMsg" class="text-center" style="padding-bottom:10px" ng-if="displayRecordDeletedMsg">
        <span><strong>Record deleted successfully.</strong></span>
    </div>
    <div id="unableToRetrieveTemplate" class="text-center" style="padding-bottom:10px" ng-if="unableToRetrieveTemplate">
        <span><strong>Unable to retrieve Risk Assessment Template.</strong></span>
    </div>
    <form name="contractRiskAsmtForm" ng-submit="saveRiskAssessment(riskAssessmentObj)" class="css-form" novalidate>
        <div ng-if="isAddEditRiskAsmtVisible" id="addEditRiskAsmt">
            <div class="btn-primary sub-header-label text-center" style="padding-bottom:10px">
                <h2 class="sub-header-font"><strong>{{addEditRiskAmtLabel}}<span ng-if="!isAddEditRiskAssessment"> {{riskAssessmentObj.riskAssessmentId}}</span></strong>
                </h2>
            </div>
            <div class="row" style="padding-bottom:10px;padding-top:10px">
                <div class="col-md-4" ng-controller="dateController">
                    <span class="mandatory">*</span><label for="riskAssessmentCompletedDate">Date Risk Assessment Completed</label>
                    <p class="input-group">
                        <input class="form-control" id="riskAssessmentCompletedDate" name="riskAssessmentCompletedDate" type="text" uib-datepicker-popup="{{dateFormat}}" ng-model="riskAssessmentObj.riskAssessmentDate" is-open="popup2.opened" datepicker-options="dateRangeOptions" alt-input-formats="altInputFormats" ng-change="validateRiskAssessmentDate(); validateFiscalYear()" close-text="Close" autofocus="" ng-required=required aria-live="assertive" aria-describedby="riskAssessmentCompletedDateValidation"></input>
                        <span class="input-group-btn">
                           <button aria-label="calenderButton" class="btn btn-default" id="newEffectiveDate" type="button" ng-click="open2()" ><em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
                        <div class="error-wrapper" id="riskAssessmentCompletedDateValidation" ng-messages="contractRiskAsmtForm.riskAssessmentCompletedDate.$error" ng-if="contractRiskAsmtForm.riskAssessmentCompletedDate.$invalid || invalidRiskAssessmentDate || riskAssessmentDateGreaterThanToday" role="alert">
                            <div ng-message="required" ng-if="contractRiskAsmtForm.riskAssessmentCompletedDate.$error.required">
                                <strong>Date Risk Assessment Completed - is a required field.</strong>
                            </div>
                            <div ng-message="required" ng-if="contractRiskAsmtForm.riskAssessmentCompletedDate.$error.date">
                                <strong>Date Risk Assessment Completed - must be in mm/dd/yyyy format.</strong>
                            </div>
                            <div ng-message="required" ng-if="invalidRiskAssessmentDate">
                                <strong>Date Risk Assessment Completed - must enter a valid date between 1920 to 2199.</strong>
                            </div>
                            <div ng-message="required" ng-if="riskAssessmentDateGreaterThanToday">
                                <strong>Date Risk Assessment Completed - cannot be later than {{getCreatedDate() | date:"MM/dd/yyyy"}}.</strong>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="mandatory">*</span><label for="fiscalYear">Risk Assessment Fiscal Year</label>
                    <input id="fiscalYear" name="fiscalYear" type="text" class="form-control" id="dateRiskComp" placeholder="" ng-model="riskAssessmentObj.fiscalYear" ng-minlength="4" ng-maxlength="4" ng-pattern="/^\d{4}$/" ng-change="validateFiscalYear()" ng-required=required aria-live="assertive" aria-describedby="riskAssessmentFiscalYearValidation">
                    <div class="error-wrapper" id="riskAssessmentFiscalYearValidation" ng-messages="contractRiskAsmtForm.fiscalYear.$error" ng-if="contractRiskAsmtForm.fiscalYear.$invalid || invalidRiskAssessmentFiscalYear" role="alert">
                        <div ng-message="required" ng-if="contractRiskAsmtForm.fiscalYear.$error.required">
                            <strong>Risk Assessment Fiscal Year - is a required field.</strong>
                        </div>
                        <div ng-message="pattern" ng-if="contractRiskAsmtForm.fiscalYear.$error.pattern"><strong> Risk Assessment Fiscal Year - must be in yyyy format.</strong></div>
                        <div ng-message="minlength" ng-if="contractRiskAsmtForm.fiscalYear.$error.minlength"><strong> Risk Assessment Fiscal Year - must be a four digit number.</strong></div>
                        <div ng-message="maxlength" ng-if="contractRiskAsmtForm.fiscalYear.$error.maxlength"><strong> Risk Assessment Fiscal Year - must be a four digit number.</strong></div>
                        <div ng-message="required" ng-if="invalidRiskAssessmentFiscalYear"><strong> Risk Assessment Fiscal Year - must be relevant to the date completed.</strong></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="mandatory">*</span><label for="primaryRiskAssessor">Primary Risk Assessor </label>
					<!--select  id="primaryRiskAssessor" name="primaryRiskAssessor" ng-init="selectName='1'" ng-model="riskAssessmentObj.primaryRiskAssessor" ng-options="primaryRiskAssessor.name disable when primaryRiskAssessor.disable for primaryRiskAssessor in primaryRiskAssessorLookupList track by primaryRiskAssessor.userId" class="c-select form-control" ng-required=required aria-live="assertive" aria-describedby="primaryRiskAssessorValidation"-->
                    <select  id="primaryRiskAssessor" name="primaryRiskAssessor" ng-init="selectName='1'" ng-model="riskAssessmentObj.primaryRiskAssessor" class="c-select form-control" ng-required=required aria-live="assertive" aria-describedby="primaryRiskAssessorValidation">
                        <option selected value="">Please Select</option>
						<option value="00000107183">00000107183</option>
						<option value="00000107180">00000107180</option>
                    </select>
                    <div class="error-wrapper" id="primaryRiskAssessorValidation" ng-messages="contractRiskAsmtForm.primaryRiskAssessor.$error" ng-if="contractRiskAsmtForm.primaryRiskAssessor.$invalid">
                        <div ng-message="required" ng-if="contractRiskAsmtForm.primaryRiskAssessor.$error.required">
                            <strong>Primary Risk Assessor - is a required field.</strong>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <div class="col-md-4 risk-range-box">
                    <div class="wordwrap"> 
                        Risk Range {{riskAssessmentObj.baseLineRiskRangeText()}}
                    </div>
                    <div class="wordwrap">
                        {{riskAssessmentObj.baseLineRiskRangesText()}} 
                    </div>
                </div>
                <div class="col-md-4 wordwrap">
                    <span><strong>Baseline Risk Level </strong></span>
                    <div> {{riskAssessmentObj.baseLineRiskLevel()}} </div>
                </div>
                <div class="col-md-4 wordwrap">
                    <span><strong>Baseline Risk Score </strong></span>
                    <div> {{riskAssessmentObj.baseLineRiskLevelScore()}} </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div ng-if="displayLastUpdatedBySection">
                <div class="col-md-4 wordwrap">
                <span><strong>Created Date</strong></span>
                    <br/> {{riskAssessmentObj.createdDate | date:"MM/dd/yyyy HH:mm"}}
                </div>
                <div class="col-md-4 wordwrap">
                    <span><strong>Last Updated By</strong></span>
                    <br/> {{riskAssessmentObj.updatedBy}}
                </div>
                <div class="col-md-4 wordwrap">
                    <span><strong>Last Updated Date </strong></span>
                    <br/> {{riskAssessmentObj.updatedDate | date:"MM/dd/yyyy HH:mm"}}
                </div>
            </div>
			<div class="row" style="padding-top: 10px;padding-bottom: 10px">
				<div class="col-md-3 text-left" style="padding-top:10px">
					<!--span><strong>Range Types Count : {{riskRangeType.length}}</strong></span-->
				</div>
				<div class="col-md-4 text-right" style="padding-top:10px">
					<label for="noOfRecordsPerPage"></label>&nbsp;
				</div>
			</div>			
			<div id="riskRangeTypes" ng-repeat="riskRangeType in riskAssessmentObj.riskRangeTypes track by $index" ng-if="isAddEditRiskAsmtVisible">
			    <table class="table table-striped" style="width:100%">
					<thead>
						<tr>
							<th style="width:5%" class="btn-primary table-th-child">No.</th>
							<th style="width:25%" class="btn-primary table-th-child">{{riskRangeIndex = $index; getRiskRangeTotalScore(riskRangeIndex, riskRangeType.riskFactors); riskRangeType.name }}&nbsp; Risk Factor's</th>
							<th style="width:50"class="btn-primary table-th-child">Risk Level</th>
							<th style="width:5%" class="btn-primary table-th-child">Risk</br> Score</th>
							<th style="width:10%" class="btn-primary table-th-child">Weight</br> Multiplier</th>
							<th style="width:5%" class="btn-primary table-th-child">Risk</br> Points</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="riskFactor in riskRangeType.riskFactors">
							<td>
							<a ng-show="isEditRiskAssessment" aria-label="{{riskAssessment.riskAssessmentId}} editThisRow" id="link-1" href="" ng-click="showEdit=!showEdit">{{$index+1}}</a>
							{{(isAddRiskAssessment) ? $index+1 : riskFactor.iddd}}
							</td>
							<td>
								{{riskFactor.name}}
							     <div ng-show="showEdit"></br>
								 <div ng-repeat="riskFactorLevel in riskFactor.riskFactorLevels">
							         <input ng-model="riskAssessmentObj.riskRangeTypes[riskRangeIndex].riskFactors[$parent.$index].riskFactorLevelId" ng-click="editRiskRangeTotalScore(riskRangeIndex, riskFactor, riskFactorLevel)" type="radio" id="one" name="riskRangeTypeLevel{{riskFactor.riskFactorId}}" value="{{riskFactorLevel.riskFactorLevelId}}">
									 <label for="html">{{riskFactorLevel.level}}</label></br>
							    </div>
								 </div>
							</td>
							<td ng-if="isEditRiskAssessment" >{{riskFactor.riskFactorLevel.level}}</td>
							<td ng-if="isAddRiskAssessment" >
							    <div ng-repeat="riskFactorLevel in riskFactor.riskFactorLevels">
							         <input ng-model="riskAssessmentObj.riskRangeTypes[riskRangeIndex].riskFactors[$parent.$index].riskFactorLevelId" ng-click="riskFactor.score=riskFactorLevel.score; getRiskRangeTotalScore(riskRangeIndex, riskRangeType.riskFactors);setAssessedFactorProperties(riskRangeIndex, $parent.$index, riskRangeType, riskFactor, riskFactorLevel);" type="radio" id="one" name="riskRangeTypeLevel{{riskFactor.id}}" value="{{riskFactorLevel.riskFactorLevelId}}" required>
									 <label for="html">{{riskFactorLevel.level}}</label>
							    </div>
								<div class="error-wrapper" id="riskFactorLevelValidation" ng-messages="contractRiskAsmtForm['riskRangeTypeLevel' + riskFactor.id].$error" ng-if="contractRiskAsmtForm['riskRangeTypeLevel' + riskFactor.id].$invalid">
										<div ng-message="required" ng-if="contractRiskAsmtForm['riskRangeTypeLevel' + riskFactor.id].$error.required">
											<strong>Risk Factor Level - is a required field.</strong>
										</div>
								</div>

						    </td>
							<td class="table-td-alignment-center">{{riskFactor.riskFactorLevel.score}}</td>
							<td class="table-td-alignment-center">{{riskFactor.weightMultiplier}}</td>
							<td class="table-td-alignment-center">{{riskFactor.riskPoints(riskFactor.riskFactorLevel.score, riskFactor.weightMultiplier)}}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<div class="col-md-4 risk-range-box">
						<div class="wordwrap">
							Risk Range {{riskRangeType.riskRangeText(riskRangeType.riskRangeTypeRanges)}}
						</div>
						<div class="wordwrap">
							{{riskRangeType.riskRangesText(riskRangeType.riskRangeTypeRanges)}}
						</div>
					</div>
					<div class="col-md-7 text-right">
						<div class="wordwrap">
							{{riskRangeType.name}} Score
						</div>
						<div class="wordwrap">
							{{riskRangeType.name}} Risk Level
						</div>
					</div>
					<div class="col-md-1 wordwrap text-left">
						<div>
							{{riskRangeTypeTotalScore[riskRangeIndex]}}
						</div>
						<div class="wordwrap">
							{{getRiskRangeRiskLevel(riskRangeIndex, riskRangeType); riskRangeTypeRiskLevel[riskRangeIndex]}}
						</div>
					</div>
				</div>
			</div>
            <br/>
            <br/>
            <br/>
            <br/>
            <div ng-if="false">
                <button type="button" ng-click="addOtherRiskFactor()" class="btn btn-sm btn-primary">Add Other Risk Factor</button>
            </div>
            <div class="row" ng-if="false">
                <div class="col-md-6 contract-riskasmt-div-align-other-risk">
                    <h5> <strong> Other Risk Factor</strong> </h5>
                </div>
                <div class="col-md-6 contract-riskasmt-div-align-other-risk-delete" ng-if="displayDeleteOtherRiskFactorsButton">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="deleteOtherRiskFactors($index)">Delete</button>
                </div>
            </div>
            <div ng-if="false">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="btn-primary table-th-child" style="width: 3%">No.</th>
                            <th class="btn-primary" style="width: 50%">Risk Factor</th>
                            <th class="btn-primary table-th-child" style="width: 12%">Risk Level Score</th>
                            <th class="btn-primary table-th-child" style="width: 12%">Weight Multiplier</th>
                            <th class="btn-primary table-th-child" style="width: 12%">Risk Points</th>
                            <th class="btn-primary" ng-click="selectAllRiskFactors()" style="width: 11%">{{selectOrDeselectLabel}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="otherRiskFactor in riskAssessmentObj.otherRiskFactorList track by $index">
                            <td class="table-td-alignment-center" style="padding-top: 15px;">{{otherRiskFactor.number}}</td>
                            <td>
                                <input type="text" class="form-control" id="otherRiskFactor" name="otherRiskFactor_{{$index}}" aria-label="otherRiskFactor" ng-model="otherRiskFactor.riskFactorName" ng-maxlength="100" ng-required=required aria-live="assertive" aria-describedby="otherRiskFactorValidation">
                                <div class="error-wrapper" id="otherRiskFactorValidation" ng-messages="contractRiskAsmtForm.otherRiskFactor_{{$index}}.$error" ng-show="contractRiskAsmtForm.otherRiskFactor_{{$index}}.$invalid">
                                    <div ng-message="required" ng-show=contractRiskAsmtForm.otherRiskFactor_{{$index}}.$error.required>
                                        <strong>Risk Factor - is a required field.</strong>
                                    </div>
                                    <div ng-message="maxlength" ng-show=contractRiskAsmtForm.otherRiskFactor_{{$index}}.$error.maxlength><strong> Risk Factor - must be within 100 characters.</strong></div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control input-text-align-center" id="otherFactorRiskLevel" name="otherFactorRiskLevel_{{$index}}" aria-label="otherRiskLevelScore" ng-model="otherRiskFactor.otherRiskLevel" ng-keyup="calculateOtherRiskScore()" ng-pattern="/^[0-9]{1,3}$/" ng-required=required aria-live="assertive" aria-describedby="otherFactorRiskLevelValidation">
                                <div class="error-wrapper" id="otherFactorRiskLevelValidation" ng-messages="contractRiskAsmtForm.otherFactorRiskLevel_{{$index}}.$error" ng-show="contractRiskAsmtForm.otherFactorRiskLevel_{{$index}}.$invalid">
                                    <div ng-message="required" ng-show="contractRiskAsmtForm.otherFactorRiskLevel_{{$index}}.$error.required">
                                        <strong>Risk Level Score - is a required field.</strong>
                                    </div>
                                    <div ng-message="pattern" ng-show="contractRiskAsmtForm.otherFactorRiskLevel_{{$index}}.$error.pattern"><strong> Risk Level Score - must be numeric, up to 3 digits.</strong>
                                    </div>
                            </td>
                            <td>
                                <input type="text" class="form-control input-text-align-center" id="weight" name="weight_{{$index}}" aria-label="weightMultiplier" ng-model="otherRiskFactor.otherRiskWeight" ng-keyup="calculateOtherRiskScore()" ng-pattern="/^[0-9]{1,2}$/" ng-required=required aria-live="assertive" aria-describedby="weightValidation">
                                <div class="error-wrapper" id="weightValidation" ng-messages="contractRiskAsmtForm.weight_{{$index}}.$error" ng-show="contractRiskAsmtForm.weight_{{$index}}.$invalid">
                                    <div ng-message="required" ng-show="contractRiskAsmtForm.weight_{{$index}}.$error.required">
                                        <strong>Weight Multiplier - is a required field.</strong>
                                    </div>
                                    <div ng-message="pattern" ng-show="
                                contractRiskAsmtForm.weight_{{$index}}.$error.pattern"><strong> Weight Multiplier - must be numeric, up to 2 digits.</strong>
                                    </div>
                            </td>
                            <td class="table-td-alignment-center wordwrap" style="padding-top: 15px;">{{otherRiskFactor.otherRiskPoint}}</td>
                            <td class="text-center" style="padding-top: 15px;">
                                <input type="checkbox" name="selected" aria-label="selectOtherRiskFactor" ng-model="otherRiskFactor.checked" ng-click="checkedIndex(otherRiskFactor)" /> </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <br/>
                <div ng-if="displayDeleteOtherRiskFactorsButton">
                    <table>
                        <tr>
                            <td class="contract-riskasmt-text-padding-10m">
                                <label for="selectOtherRiskLevel"> Other Risk Level &nbsp; </label>
                            </td>
                            <td>
                                <select id="selectOtherRiskLevel" name="selectOtherRiskLevel" ng-model="riskAssessmentObj.otherRiskLevelLookup" class="form-control" ng-options="otherRiskLevel.otherRiskLevelName disable when otherRiskLevel.disable for otherRiskLevel in otherRiskLevelLookupList track by otherRiskLevel.otherRiskLevelId" ng-required=isOtherRiskLevelRequired ng-change="validateOtherRiskLevel()" aria-live="assertive" aria-describedby="selectOtherRiskLevelValidation">
                                    <option selected value="">Please Select</option>
                                </select>
                                <div class="error-wrapper" id="selectOtherRiskLevelValidation" ng-messages="contractRiskAsmtForm.selectOtherRiskLevel.$error" ng-if="contractRiskAsmtForm.selectOtherRiskLevel.$invalid">
                                    <div ng-message="required" ng-if="contractRiskAsmtForm.selectOtherRiskLevel.$error.required">
                                        <strong>Other Risk Level - is a required field.</strong>
                                    </div>
                                </div>
                            </td>
                            <td class="contract-riskasmt-text-padding-7em">
                                <span><strong>Other Risk Score &nbsp;</strong></span>
                            </td>
                            <td class="wordwrap"> {{riskAssessmentObj.otherRiskScore}} </td>
                        </tr>
                    </table>
                </div>
                <br/>
                <div class="contract-riskasmt-padding-bottom-1m text-center">
					<button type="submit" class="btn btn-sm btn-primary" ng-disabled="contractRiskAsmtForm.$invalid || !contractRiskAsmtForm.$dirty || formNotChanged()">Save</button>&nbsp;&nbsp;&nbsp;
                    <!--button type="submit" class="btn btn-sm btn-primary" contractpermission="['riskAsmtUpdate','riskAsmtCreate']" ng-disabled="contractRiskAsmtForm.$invalid || !contractRiskAsmtForm.$dirty || formNotChanged()">Save</button-->&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-sm btn-primary" ng-click="cancelRiskAssessment($event)">Cancel</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-sm btn-primary" contractpermission="['riskAsmtDelete']" ng-if="displayDeleteButton" ng-click="deleteRiskAssessment(riskAssessmentObj)">Delete</button>
                </div>
                </div>
    </form>
        <!--div class="contract-riskasmt-padding-bottom-1m text-center">
			<button type="button" class="btn btn-sm btn-primary" ng-click="saveRiskAssessment(riskAssessmentObj)">Save</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-primary" ng-click="cancelRiskAssessment($event)">Cancel</button>&nbsp;&nbsp;&nbsp;
        </div-->
    </div>
</div>
